.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
test.tfvars
docs/
Makefile
.terraform-docs.yml
terraform-docs.yml
.terragrunt-cache/
.terragrunt.hcl
.terragrunt-ignore
*.log
*.backup
*.tfvars
*.tfvars.json
.idea/
.vscode/
.DS_Store
*.iml
tests/check_results.txt

